body {
  height: 100%;
  width: 100%;
  font-family: 'TitilliumRegular', sans-serif;
}

#screens-container div.screen.left { background-color: #343434; }

/* Items */
.item-list li {
  position: relative;
  height: 100px;
  width: 100%;
  margin-bottom: 1px;
}

.item-list .inner {
  position: relative;
  width: 100%;
  z-index: 100;
}

.item-list li div {
  display: inline-block;
  vertical-align: top;
  text-shadow: 1px 2px rgba(0, 0, 0, .2);
}

/* Number of items */
.item-list .case-item {
  width: 100px;
  height: 100px;
  font-size: 48px;
  line-height: 32px;
  /*line-height: 100px;*/
  color: #fff;
  text-align: center;
}

.item-list .case-item .parent {
  display: block;
  padding-top: 18px;
}

.item-list .case-item .month {
  text-transform: uppercase;
  font-size: 20px;
}

/* Title of product */
.item-list .item {
  font-size: 32px;
  line-height: 98px;
  color: #fff;
  padding-left: 30px;
}

.item-list .item span {
  font-size: 24px;
  color: #e5e5e5;
  line-height: 2px;
}

/* Delete shortcut */
.item-list .delete {
  background-color: #343434;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 84px;
  height: 100%;
}
.item-list .delete img {
  margin: auto;
  padding-top: 28px;
  display: block;
}

/* Add item */
.item-list .add { background-color: #f5f5f5; }
.item-list .add .case-item { background-color: #ebebeb; }
.item-list .add .case-item img { padding-top: 16px; }
.item-list .add .item { color: #333333; text-shadow: none; }
#add-item-btn { cursor: pointer; }

/* Red item */
.item-list .red { background-color: #f26e6e; }
.item-list .red .case-item { background-color: #cb5757; }

/* Orange item */
.item-list .orange { background-color: #f2905c; }
.item-list .orange .case-item { background-color: #d17a4b; }

/* Green item */
.item-list .green { background-color: #72b970; }
.item-list .green .case-item { background-color: #599a57; }









/* Default */
#main-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

#screens-container {
  position:absolute;
  height: 100%;
  width: 200%;
  top:0;
  left:0;
}

#screens-container div.screen {
    position:absolute;
    width:50%;
    height:100%;
    top:0;
    left:0;
}

#screens-container div.screen.right {
    background-color:red;
    left:50%;
}

#screens-container div.screen.left {
    /*background-color:blue;*/
}
