@font-face {
    font-family: 'TitilliumRegular';
    src: url('../fonts/titillium-regular-webfont.eot');
    src: url('../fonts/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-regular-webfont.woff') format('woff'),
         url('../fonts/titillium-regular-webfont.ttf') format('truetype'),
         url('../fonts/titillium-regular-webfont.svg#TitilliumRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}